#header {
    background-color: white;
}

.logos {
    display: inline-flex;
}

/* .description {
  text-align: center;
  display: grid;
  place-items: center;
  font-size: 20px;
  margin-left: 300px;
} */

.logoByteMe {
    width: 17%;
}

.lineDivider {
    border-top: 2px solid #bbb;
}
  